.body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-total {
  max-width: 900px;
  margin: auto;
}
.weather-app {
  border: 2px solid #ff3366;
  max-width: 900px;
  margin: 50px auto 0;
  padding: 50px;
  border-radius: 5px;
}
h1 {
  font-size: 40px;
  color: #b3a7a7;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #b3a7a7;
  font-size: 18px;
}
header {
  margin-bottom: 30px;
}
form {
  max-width: 50%;
}
#search-form {
  color: #b3a7a7;
  margin: 0 auto;
  font-size: 18px;
}
#city-input {
  margin: 0 15px 0 5px;
  font-size: 15px;
}
#search {
  color: #76b9c8;
  font-size: 15px;
}
#description:first-letter {
  text-transform: uppercase;
}

#icon-today-weather {
  color: #f1ae3a;
  font-size: 450%;
  position: relative;
  left: -10px;
}
.temperature-units {
  color: #b3a7a7;
  font-size: 18px;
  position: relative;
  top: -30px;
  left: -2px;
}
#temperature-value {
  color: #b3a7a7;
  font-size: 65px;
}

.temperature-units .active {
  color: #b3a7a7;
  cursor: default;
}
.temperature-units .active:hover {
  text-decoration: none;
}
.forecast {
  margin-top: 30px;
  color: #b3a7a7;
  text-align: center;
  font-size: 15px;
}
